@charset "ISO-8859-1";

.pagina {
	display: grid;
	grid-template-areas: "menubar menubar menubar"
		"laterale tabella tabella" "laterale tabella tabella";
	grid-template-columns: auto auto 1fr;
	grid-template-rows: auto auto 1fr;
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
}

.laterale {
	grid-area: laterale;
	width: 235px;
	background-color: #f9f9f9;
}

.sideBarCollapsed {
	width: 0;
	background-color: #f5f5f5;
}

.sideBarCollapsed li{
	display: none;
}



.calcoloTotale, .calendario, .infoMese, griglia {
	display: grid;
	gap: 2px;
	grid-auto-rows: max-content;
	grid-auto-columns: max-content;
}

.calcoloTotale {
	border-radius: 14px 0 0 0;
	margin-bottom: 50px;
}

.tabellaContainer{
	grid-area: tabella;
}

.tabellaCalendario {
	/*position: absolute;
	left: 50%;
	transform: translate(-50%, 0);*/
	margin-top: 10px;
}

.infoMese {
	padding-bottom: 2px;
	float: right;
}

.calendario {
	border-radius: 0 0 14px 14px;
}

.giorno, .totale, .cellaTotale, .cellaTotaleRicavo, .nomeMese, .numeriGiorni, .gruppoStanze,
	.stanza, .cella {
	background-color: white;
	min-height: 28px;
	padding: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
}

.cellaTotale, .giorno, .numeriGiorni, .cellaTotaleRicavo {
	min-width: 28px;
	grid-column-end: span 1;
}

.nomeMese, .numeriGiorni {
	border: 1px solid #ced4da;
}

.cellaTotale, .totale, .cellaTotaleRicavo {
	background-color: #1D81AF;
	color: white;
}

.totale {
	flex-grow: 1;
	width: 232px;
}

.nomeMese {
	justify-content: space-between;
	flex-flow: inherit;
	font-size: 25px;
	grid-column-start: 1;
	height: 100px;
	border-radius: 50px 50px 0 0;
}

.gruppoStanze {
	width: 150px;
}

.stanza {
	width: 80px;
	grid-column-start: 2;
}

.giorno {
	transition: 0.2s;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.giorno:hover {
	transform: scale(1.5);
	box-shadow: 0 0 20px 0 #888;
}

.bottoneCambiaMese {
	background-color: white;
	border: none;
	border-radius: 30px;
	margin-right: 20px;
	margin-left: 20px;
	transition: all 0.1s;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.bottoneCambiaMese:hover {
	background-color: #e9e9ea;
}

.bottoneCambiaMese:active {
	transform: scale(0.9);
}

.calendario::-webkit-scrollbar {
	width: 10px;
}

.calendario::-webkit-scrollbar-track {
	background: transparent;
}

.calendario::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 5px;
}

.giorno:hover .tooltiptext {
	visibility: visible;
}